<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail Product</title>
  </head>
  <body>
    <h1>Detail Product</h1>
    <h2>Nama Product:<%= detailProducts.name %></h2>
    <p>Deskripsi:<%= detailProducts.description %></p>
    <p>Stok: <%= detailProducts.stock %></p>
    <p>Kategori: <%= detailProducts.category %></p>
    <strong>Harga: <%= detailProducts.price %></strong><br />
    <a href="/products">back to all products</a>|
    <a href="/products/<%= detailProducts._id %>/edit">Edit</a>
    <form
      action="/products/<%= detailProducts._id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit">Delete</button>
    </form>
  </body>
</html>
